apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-pagamentos
  namespace: unifiapay
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-pagamentos
  template:
    metadata:
      labels:
        app: api-pagamentos
    spec:
      serviceAccountName: api-sa
      automountServiceAccountToken: false
      securityContext:
        fsGroup: 1000
      containers:
        - name: api-pagamentos
          image: matheushcg04/api-pagamentos:v1.96957
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: unifiap-config
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 20
            failureThreshold: 5
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
          volumeMounts:
            - name: logs
              mountPath: /var/logs/api
      volumes:
        - name: logs
          persistentVolumeClaim:
            claimName: unifiap-logs-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: api-pagamentos-svc
  namespace: unifiapay
spec:
  selector:
    app: api-pagamentos
  ports:
    - port: 80
      targetPort: 8080
