apiVersion: batch/v1
kind: CronJob
metadata:
  name: auditoria-fechamento-reserva
  namespace: unifiapay
spec:
  schedule: "0 */6 * * *" # a cada 6 horas
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: auditoria-sa
          automountServiceAccountToken: false
          securityContext:
            fsGroup: 1000
          containers:
            - name: auditoria
              image: matheushcg04/auditoria:v1.96957
              imagePullPolicy: IfNotPresent
              resources:
                requests:
                  cpu: "50m"
                  memory: "64Mi"
                limits:
                  cpu: "200m"
                  memory: "256Mi"
              volumeMounts:
                - name: logs
                  mountPath: /var/logs/api
          restartPolicy: OnFailure
          volumes:
            - name: logs
              persistentVolumeClaim:
                claimName: unifiap-logs-pvc
